body > table{
    width: 80%;
}
table{
    border: none;
}
table.list{
    width:100%;
}
td, th {
   
    text-align: left;
    padding: 8px;
}
input[type=text], input[type=number], input[type=textarea]{
    width: 100%;
    padding: 10px 15px;
    margin: 7px 0;
    display: inline-block;
    /* border: 1px solid rgb(17, 16, 16);
    border-radius: 2px; */
    box-sizing: border-box;
}
input[type=date]{
    width: 30%;
    background-color:rgb(254, 255, 254);
    color: rgb(2, 2, 2);
    padding: 10px 15px;
    margin: 6px 0;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
}
form div.form-action-buttons{
    text-align: right;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: #ee009f;
    margin-right: 4px;
}
label.validation-error{
    color:   rgb(61, 20, 158);
    margin-left: 5px;
}
.hide{
    display:none;
}
.btn2{
   /* position:relative;
    margin-left: 460px;*/
    border: 1px solid gray;
    border-radius: 6px;
    margin-left: 40px;
    background: lightsteelblue;
     position:relative;
    padding: 10px;
    font-size: 16px;
        

}
.text{
    padding: 10px;
    text-align: center;
    font-style: bold;
    margin-top: 40px;


}
